{:deps    {}
 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps  {ring/ring-core                       {:mvn/version "1.9.6"}
                               org.clojure/clojurescript            {:mvn/version "1.11.60"}
                               io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "b3fd0d2"}
                               com.lambdaisland/kaocha-cljs         {:mvn/version "1.4.130"}}}

           :test      {:exec-fn cognitect.test-runner.api/test}
           :cljs-test {:main-opts ["-m" "kaocha.runner"]}}}
